# compiled output
/dist
/node_modules

# env files
.env
.env.*.local

# logs
*.log
npm-debug.log*

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea

# coverage
/coverage

# OS
.DS_Store
